In [1]:
import pandas as pd
import numpy as np

In [2]:
cdf = pd.read_csv("classification.csv")

In [3]:
sdf = pd.read_csv("Stock Analysis Report - Data Source (1).csv")

In [4]:
cdf

,Unnamed: 0,PID,Category,Title,Release Date,PO Buy Count,PO Buy Avg,PO Sell Count,PO Sell Avg,PO Inventory,...,Pre Order,Age,Total Sales,% Deviation,Rank,Class Name,Inv Hold Days,Cash Margin,Credit Margin,Days to Release
0,0,14,PS4,A Plague Tale Innocence,2019-05-14,0,0.00,0,0.00,0,...,No,4.4,0.0,-1.000000,9,Junk C,Clearance,0.50,0.45,NaN
1,1,15,PS4,Ace Combat 7: Skies Unknown,2019-01-19,4,1199.00,3,600.00,0,...,No,4.7,4796.0,-0.796551,9,Junk C,Clearance,0.50,0.42,NaN
2,2,16,PS4,Ashes Cricket,2017-11-16,25,915.00,35,481.94,10,...,No,5.9,22875.0,-0.029629,3,Moderate,<30 Days,0.50,0.37,NaN
3,3,17,PS4,Assassin's Creed IV Black Flag,2013-11-22,29,786.93,27,368.33,1,...,No,9.8,22821.0,-0.031920,3,Moderate,<30 Days,0.53,0.41,NaN
4,4,18,PS4,Assassin's Creed Odyssey & Origins Double Pack,2019-08-23,2,1399.00,2,600.00,0,...,No,4.1,2798.0,-0.881307,9,Junk C,Clearance,0.57,0.43,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,1542,4032,Nintendo Switch,EA Sports FC 24,2023-09-29,0,0.00,0,0.00,0,...,Yes,-0.0,0.0,-1.000000,6,NS Junk,<45 Days,0.00,0.00,4.0
1543,1543,4100,PS4,Sniper Ghost Warrior Contracts 2,2021-10-24,0,0.00,1,1600.00,1,...,No,1.9,0.0,-1.000000,8,Junk B,Clearance,0.42,0.33,NaN
1544,1544,4102,PS5,Mortal Kombat 11,2019-04-23,1,1499.00,1,850.00,1,...,No,4.4,1499.0,-0.936412,7,Junk A,<45 Days,0.43,0.37,NaN
1545,1545,4103,PS4,Red Dead Redemption,2023-10-13,0,0.00,0,0.00,0,...,Yes,-0.0,0.0,-1.000000,1,Volatile Games,<15 Days,0.00,0.00,18.0
1546,1546,4104,Nintendo Switch,Red Dead Redemption,2023-10-13,0,0.00,0,0.00,0,...,No,-0.0,0.0,-1.000000,6,NS Junk,<45 Days,0.00,0.00,NaN

In [5]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PID                        389 non-null    int64
 1   Product Name               389 non-null    object
 2   Product Age                389 non-null    object
 3   Category                   389 non-null    object
 4   Sub Category               389 non-null    object
 5   Total Qty                  389 non-null    int64
 6   Avg Inventory Value        389 non-null    float64
 7   0 - 7 Days Count           389 non-null    int64
 8   8 - 15 Days Count          389 non-null    int64
 9   16 - 30 Days Count         389 non-null    int64
 10  31 - 45 Days Count         389 non-null    int64
 11  46 - 60 Days Count         389 non-null    int64
 12  61 - 90 Days Count         389 non-null    int64
 13  91 - 120 Days Count        389 non-null    int64
 14  121 - 150 Days Count       389 non-null    int64
 15  151 - 180 Days Count       389 non-null    int64
 16  Older Than 180 Days Count  389 non-null    int64
 17  0 - 7 Days Avg             389 non-null    object
 18  8 - 15 Days Avg            389 non-null    object
 19  16 - 30 Days Avg           389 non-null    object
 20  31 - 45 Days Avg           389 non-null    object
 21  46 - 60 Days Avg           389 non-null    object
 22  61 - 90 Days Avg           389 non-null    object
 23  91 - 120 Days Avg          389 non-null    object
 24  121 - 150 Days Avg         389 non-null    object
 25  151 - 180 Days Avg         389 non-null    object
 26  Older Than 180 Days Avg    389 non-null    object
 27  Current PO Price           389 non-null    object
dtypes: float64(1), int64(12), object(15)
memory usage: 85.2+ KB

In [6]:
columns_to_convert = [
    '0 - 7 Days Avg', '8 - 15 Days Avg', '16 - 30 Days Avg', 
    '31 - 45 Days Avg', '46 - 60 Days Avg', '61 - 90 Days Avg', 
    '91 - 120 Days Avg', '121 - 150 Days Avg', '151 - 180 Days Avg', 
    'Older Than 180 Days Avg', 'Current PO Price'
]

sdf[columns_to_convert] = sdf[columns_to_convert].replace({',': ''}, regex=True).astype('int64')

    
sdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PID                        389 non-null    int64
 1   Product Name               389 non-null    object
 2   Product Age                389 non-null    object
 3   Category                   389 non-null    object
 4   Sub Category               389 non-null    object
 5   Total Qty                  389 non-null    int64
 6   Avg Inventory Value        389 non-null    float64
 7   0 - 7 Days Count           389 non-null    int64
 8   8 - 15 Days Count          389 non-null    int64
 9   16 - 30 Days Count         389 non-null    int64
 10  31 - 45 Days Count         389 non-null    int64
 11  46 - 60 Days Count         389 non-null    int64
 12  61 - 90 Days Count         389 non-null    int64
 13  91 - 120 Days Count        389 non-null    int64
 14  121 - 150 Days Count       389 non-null    int64
 15  151 - 180 Days Count       389 non-null    int64
 16  Older Than 180 Days Count  389 non-null    int64
 17  0 - 7 Days Avg             389 non-null    int64
 18  8 - 15 Days Avg            389 non-null    int64
 19  16 - 30 Days Avg           389 non-null    int64
 20  31 - 45 Days Avg           389 non-null    int64
 21  46 - 60 Days Avg           389 non-null    int64
 22  61 - 90 Days Avg           389 non-null    int64
 23  91 - 120 Days Avg          389 non-null    int64
 24  121 - 150 Days Avg         389 non-null    int64
 25  151 - 180 Days Avg         389 non-null    int64
 26  Older Than 180 Days Avg    389 non-null    int64
 27  Current PO Price           389 non-null    int64
dtypes: float64(1), int64(23), object(4)
memory usage: 85.2+ KB

In [7]:
Formulated_df = sdf[['PID', 'Product Name', 'Product Age', 'Sub Category']].copy()
Formulated_df

,PID,Product Name,Product Age,Sub Category
0,16,Ashes Cricket - PS4,Pre Owned,Games
1,17,Assassin's Creed IV Black Flag - PS4,Pre Owned,Games
2,19,Assassin's Creed Odyssey - PS4,Pre Owned,Games
3,20,Assassin's Creed Origins - PS4,Pre Owned,Games
4,21,Assassin's Creed Syndicate - PS4,Pre Owned,Games
...,...,...,...,...
384,3997,Astral Chain (No Box and Art Cover) - Nintendo...,Pre Owned,Games
385,4024,Nintendo Switch 32GB V1 (HAC-001) Neon Green &...,Pre Owned,Consoles
386,4100,Sniper Ghost Warrior Contracts 2 - PS4,Pre Owned,Games
387,4101,ASUS RTX 3050 8GB Dual OC - PC Components,Pre Owned,PCComponents
388,4102,Mortal Kombat 11 - PS5,Pre Owned,Games

In [8]:
ranks = []
Formulated_df = sdf.merge(cdf , how = 'left', on = ['PID'])
for i in range(len(Formulated_df)):
    if Formulated_df['Sub Category'][i] == 'Games':
        ranks.append(Formulated_df['Rank'][i])
    if Formulated_df['Sub Category'][i] == 'Accessories':
        ranks.append(11)
    elif Formulated_df['Sub Category'][i] == 'Consoles':
        ranks.append(12)
    elif Formulated_df['Sub Category'][i] == 'PCComponents':
        ranks.append(13) 
Formulated_df['Rank'] = ranks        
Formulated_df

,PID,Product Name,Product Age,Category_x,Sub Category,Total Qty,Avg Inventory Value,0 - 7 Days Count,8 - 15 Days Count,16 - 30 Days Count,...,Pre Order,Age,Total Sales,% Deviation,Rank,Class Name,Inv Hold Days,Cash Margin,Credit Margin,Days to Release
0,16,Ashes Cricket - PS4,Pre Owned,PS4,Games,10,490.00,2,0,5,...,No,5.9,22875.0,-0.029629,3.0,Moderate,<30 Days,0.50,0.37,NaN
1,17,Assassin's Creed IV Black Flag - PS4,Pre Owned,PS4,Games,1,400.00,1,0,0,...,No,9.8,22821.0,-0.031920,3.0,Moderate,<30 Days,0.53,0.41,NaN
2,19,Assassin's Creed Odyssey - PS4,Pre Owned,PS4,Games,5,480.00,4,1,0,...,No,5.0,64120.0,1.720008,2.0,All Time Hits,<30 Days,0.47,0.35,NaN
3,20,Assassin's Creed Origins - PS4,Pre Owned,PS4,Games,11,377.27,3,7,1,...,No,5.9,59786.0,1.536157,2.0,All Time Hits,<30 Days,0.53,0.40,NaN
4,21,Assassin's Creed Syndicate - PS4,Pre Owned,PS4,Games,1,300.00,1,0,0,...,No,7.9,27984.0,0.187098,3.0,Moderate,<30 Days,0.58,0.50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,3997,Astral Chain (No Box and Art Cover) - Nintendo...,Pre Owned,Nintendo Switch,Games,1,1900.00,0,0,0,...,No,4.1,0.0,-1.000000,6.0,NS Junk,<45 Days,0.38,0.26,NaN
385,4024,Nintendo Switch 32GB V1 (HAC-001) Neon Green &...,Pre Owned,Nintendo Switch,Consoles,1,14500.00,0,0,0,...,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN
386,4100,Sniper Ghost Warrior Contracts 2 - PS4,Pre Owned,PS4,Games,1,1600.00,0,0,1,...,No,1.9,0.0,-1.000000,8.0,Junk B,Clearance,0.42,0.33,NaN
387,4101,ASUS RTX 3050 8GB Dual OC - PC Components,Pre Owned,PC Components,PCComponents,1,11300.00,1,0,0,...,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN
388,4102,Mortal Kombat 11 - PS5,Pre Owned,PS5,Games,1,850.00,0,1,0,...,No,4.4,1499.0,-0.936412,7.0,Junk A,<45 Days,0.43,0.37,NaN

In [9]:
 Formulated_df[['0 - 7 Days Count','8 - 15 Days Count', '16 - 30 Days Count', '31 - 45 Days Count',
       '46 - 60 Days Count', '61 - 90 Days Count', '91 - 120 Days Count',
       '121 - 150 Days Count', '151 - 180 Days Count',
       'Older Than 180 Days Count', '0 - 7 Days Avg', '8 - 15 Days Avg',
       '16 - 30 Days Avg', '31 - 45 Days Avg', '46 - 60 Days Avg',
       '61 - 90 Days Avg', '91 - 120 Days Avg', '121 - 150 Days Avg',
       '151 - 180 Days Avg', 'Older Than 180 Days Avg']]

,0 - 7 Days Count,8 - 15 Days Count,16 - 30 Days Count,31 - 45 Days Count,46 - 60 Days Count,61 - 90 Days Count,91 - 120 Days Count,121 - 150 Days Count,151 - 180 Days Count,Older Than 180 Days Count,0 - 7 Days Avg,8 - 15 Days Avg,16 - 30 Days Avg,31 - 45 Days Avg,46 - 60 Days Avg,61 - 90 Days Avg,91 - 120 Days Avg,121 - 150 Days Avg,151 - 180 Days Avg,Older Than 180 Days Avg
0,2,0,5,1,2,0,0,0,0,0,550,0,450,550,500,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,400,0,0,0,0,0,0,0,0,0
2,4,1,0,0,0,0,0,0,0,0,475,500,0,0,0,0,0,0,0,0
3,3,7,1,0,0,0,0,0,0,0,350,379,450,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,300,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1900,0,0,0
385,0,0,0,0,1,0,0,0,0,0,0,0,0,0,14500,0,0,0,0,0
386,0,0,1,0,0,0,0,0,0,0,0,0,1600,0,0,0,0,0,0,0
387,1,0,0,0,0,0,0,0,0,0,11300,0,0,0,0,0,0,0,0,0
388,0,1,0,0,0,0,0,0,0,0,0,850,0,0,0,0,0,0,0,0

In [10]:
cs_name = []
iwl = []
for i in range(len(Formulated_df)):
    if Formulated_df['Rank'][i] == 1:
        cs_name.append('Volatile Games')
    elif Formulated_df['Rank'][i] == 2:
        cs_name.append('All time Hits')
    elif Formulated_df['Rank'][i] == 3:
        cs_name.append('Moderate')
    elif Formulated_df['Rank'][i] == 4:
        cs_name.append('Low')
    elif Formulated_df['Rank'][i] == 5:
        cs_name.append('NS Games')
    elif Formulated_df['Rank'][i] == 6:
        cs_name.append('NS Junk')
    elif Formulated_df['Rank'][i] == 7:
        cs_name.append('Junk A')                      
    elif Formulated_df['Rank'][i] == 8:
        cs_name.append('Junk B')
    elif Formulated_df['Rank'][i] == 9:
        cs_name.append('Junk C')
    elif Formulated_df['Rank'][i] == 10:
        cs_name.append('Junk D')   
    elif Formulated_df['Rank'][i] == 11:
        cs_name.append('Accessories')   
    elif Formulated_df['Rank'][i] == 12:
        cs_name.append('Consoles')   
    elif Formulated_df['Rank'][i] == 13:
        cs_name.append('PCComponents')
    else:
        cs_name.append('NaN')
Formulated_df['Class Name'] = cs_name

In [11]:
iwl = []
vwl = []
iol = []
vol = []
i90 = []
iv90 = []
i_45_90 = []
iv_45_90 = []
i_45 = []
for i in range(len(Formulated_df)):
    rank_value = Formulated_df.at[i, 'Rank']
    
    if rank_value == 1:
        
        
        
        iwl_sum = Formulated_df.at[i, '0 - 7 Days Count'] + Formulated_df.at[i, '8 - 15 Days Count']
        iwl.append(iwl_sum)
        
        vwl_sumproduct = (Formulated_df.at[i, '0 - 7 Days Count'] * Formulated_df.at[i, '0 - 7 Days Avg']) + \
                  (Formulated_df.at[i, '8 - 15 Days Count'] * Formulated_df.at[i, '8 - 15 Days Avg'])
        vwl.append(vwl_sumproduct)
        
        iol_sum = Formulated_df.iloc[i, 9:17].sum()  
        iol.append(iol_sum)
        
        count_values = Formulated_df.iloc[i, 9:17].values
        avg_values = Formulated_df.iloc[i, 19:27].values
        vol_sumproduct = np.sum(np.multiply(count_values,avg_values))
        vol.append(vol_sumproduct)

        
        
        
    elif 5 <= rank_value <= 7:
        iwl_sum = Formulated_df.at[i, '0 - 7 Days Count'] + Formulated_df.at[i, '8 - 15 Days Count'] + \
                  Formulated_df.at[i, '16 - 30 Days Count'] + Formulated_df.at[i, '31 - 45 Days Count']
        iwl.append(iwl_sum)
        
        vwl_sumproduct=  (Formulated_df.at[i, '0 - 7 Days Count'] * Formulated_df.at[i, '0 - 7 Days Avg']) + \
                  (Formulated_df.at[i, '8 - 15 Days Count'] * Formulated_df.at[i, '8 - 15 Days Avg']) + \
                  (Formulated_df.at[i, '16 - 30 Days Count'] * Formulated_df.at[i, '16 - 30 Days Avg']) + \
                  (Formulated_df.at[i, '31 - 45 Days Count'] * Formulated_df.at[i, '31 - 45 Days Avg'])
        vwl.append(vwl_sumproduct)
        
        iol_sum = Formulated_df.iloc[i, 11:17].sum() 
        iol.append(iol_sum)
        
        count_values = Formulated_df.iloc[i, 11:17].values
        avg_values = Formulated_df.iloc[i, 21:27].values
        vol_sumproduct = np.sum(np.multiply(count_values,avg_values))
        vol.append(vol_sumproduct)
        
        
    elif 8 <= rank_value <= 10:
        iwl_sum = 0
        iwl.append(iwl_sum)
        
        vwl_sumproduct = 0
        vwl.append(vwl_sumproduct)
        
        iol_sum = Formulated_df.iloc[i, 7:17].sum()
        iol.append(iol_sum)
        
        count_values = Formulated_df.iloc[i, 7:17].values
        avg_values = Formulated_df.iloc[i, 17:27].values
        vol_sumproduct = np.sum(np.multiply(count_values,avg_values))
        vol.append(vol_sumproduct)
        
        
        
    elif 2 <= rank_value <= 13:
        iwl_sum = Formulated_df.at[i, '0 - 7 Days Count'] + Formulated_df.at[i, '8 - 15 Days Count'] + \
                  Formulated_df.at[i, '16 - 30 Days Count']
        iwl.append(iwl_sum)
        
        vwl_sumproduct = (Formulated_df.at[i, '0 - 7 Days Count'] * Formulated_df.at[i, '0 - 7 Days Avg']) + \
                  (Formulated_df.at[i, '8 - 15 Days Count'] * Formulated_df.at[i, '8 - 15 Days Avg']) + \
                  (Formulated_df.at[i, '16 - 30 Days Count'] * Formulated_df.at[i, '16 - 30 Days Avg'])
        vwl.append(vwl_sumproduct)
        
        iol_sum = Formulated_df.iloc[i, 10:17].sum()
        iol.append(iol_sum)
        
        count_values = Formulated_df.iloc[i, 10:17].values
        avg_values = Formulated_df.iloc[i, 20:27].values
        vol_sumproduct = np.sum(count_values * avg_values)
        vol.append(vol_sumproduct)
        
    else:
        iwl_sum = 'NA'
        iwl.append(iwl_sum)
        vwl_sumproduct = 'NA'
        vwl.append(vwl_sumproduct)
        vol_sumproduct = 'NA'
        vol.append(vol_sumproduct)
        
    inv_90 = Formulated_df.iloc[i,13:17].sum()
    i90.append(inv_90)
    
    
    count_values_90 = Formulated_df.iloc[i, 13:17].values
    avg_values_90 = Formulated_df.iloc[i, 23:27].values
    iv90_sumproduct = np.sum(np.multiply(count_values_90 , avg_values_90))
    iv90.append(iv90_sumproduct)
    
    inv_45_90 = Formulated_df.iloc[i, 11:13].sum()
    i_45_90.append(inv_45_90)
    
    count_values_45_90 = Formulated_df.iloc[i, 11:13].values
    avg_values_45_90 = Formulated_df.iloc[i, 21:23].values
    iv_45_90_sumproduct = np.sum(np.multiply(count_values_45_90, avg_values_45_90))
    iv_45_90.append(iv_45_90_sumproduct)
    
    
    i_45_sum = Formulated_df.iloc[i, 11:17].sum() 
    i_45.append(i_45_sum)


Formulated_df['Inv Within Limit'] = iwl

Formulated_df['Value Within Limit'] = vwl

Formulated_df['Value Outside Limit'] = vol

Formulated_df['Inv Outside Limit'] = iol
  
Formulated_df['Total Purchase Value'] =  Formulated_df['Total Qty'] * Formulated_df['Avg Inventory Value']

Formulated_df['Expected Revenue'] = Formulated_df['Total Qty'] * Formulated_df['Current PO Price']

Formulated_df['Margin'] = Formulated_df['Expected Revenue'] - Formulated_df['Total Purchase Value']

Formulated_df['Margin %'] = (Formulated_df['Margin'] / Formulated_df['Expected Revenue']).round(2) 

Formulated_df['Inv > 90 Days'] = i90

Formulated_df['Inv Value >90'] = iv90

Formulated_df['Inv 45 - 90 Days'] = i_45_90

Formulated_df['Inv Value 45-90'] = iv_45_90

Formulated_df['Inv >45'] = i_45

Formulated_df[['PID','Product Name', 'Product Age', 'Category_x', 'Sub Category', 'Rank', 'Class Name', 'Inv Within Limit',
               'Value Within Limit', 'Inv Outside Limit', 'Value Outside Limit', 'Total Purchase Value', 'Expected Revenue',
               'Margin','Margin %', 'Inv > 90 Days','Inv Value >90', 'Total Qty', 'Inv 45 - 90 Days', 'Inv Value 45-90', 
               'Inv >45']]

,PID,Product Name,Product Age,Category_x,Sub Category,Rank,Class Name,Inv Within Limit,Value Within Limit,Inv Outside Limit,...,Total Purchase Value,Expected Revenue,Margin,Margin %,Inv > 90 Days,Inv Value >90,Total Qty,Inv 45 - 90 Days,Inv Value 45-90,Inv >45
0,16,Ashes Cricket - PS4,Pre Owned,PS4,Games,3.0,Moderate,7,3350,3,...,4900.00,7990,3090.00,0.39,0,0,10,2,1000,2
1,17,Assassin's Creed IV Black Flag - PS4,Pre Owned,PS4,Games,3.0,Moderate,1,400,0,...,400.00,849,449.00,0.53,0,0,1,0,0,0
2,19,Assassin's Creed Odyssey - PS4,Pre Owned,PS4,Games,2.0,All time Hits,5,2400,0,...,2400.00,4245,1845.00,0.43,0,0,5,0,0,0
3,20,Assassin's Creed Origins - PS4,Pre Owned,PS4,Games,2.0,All time Hits,11,4153,0,...,4149.97,8239,4089.03,0.50,0,0,11,0,0,0
4,21,Assassin's Creed Syndicate - PS4,Pre Owned,PS4,Games,3.0,Moderate,1,300,0,...,300.00,599,299.00,0.50,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,3997,Astral Chain (No Box and Art Cover) - Nintendo...,Pre Owned,Nintendo Switch,Games,6.0,NS Junk,0,0,1,...,1900.00,3399,1499.00,0.44,1,1900,1,0,0,1
385,4024,Nintendo Switch 32GB V1 (HAC-001) Neon Green &...,Pre Owned,Nintendo Switch,Consoles,12.0,Consoles,0,0,1,...,14500.00,17999,3499.00,0.19,0,0,1,1,14500,1
386,4100,Sniper Ghost Warrior Contracts 2 - PS4,Pre Owned,PS4,Games,8.0,Junk B,0,0,1,...,1600.00,2399,799.00,0.33,0,0,1,0,0,0
387,4101,ASUS RTX 3050 8GB Dual OC - PC Components,Pre Owned,PC Components,PCComponents,13.0,PCComponents,1,11300,0,...,11300.00,16599,5299.00,0.32,0,0,1,0,0,0
388,4102,Mortal Kombat 11 - PS5,Pre Owned,PS5,Games,7.0,Junk A,1,850,0,...,850.00,1499,649.00,0.43,0,0,1,0,0,0

In [12]:
Pre_Owned_Report_df = Formulated_df.groupby(['Product Age']).filter(lambda x: (x['Product Age'] == 'Pre Owned').any())
Pre_Owned_Report_df

,PID,Product Name,Product Age,Category_x,Sub Category,Total Qty,Avg Inventory Value,0 - 7 Days Count,8 - 15 Days Count,16 - 30 Days Count,...,Inv Outside Limit,Total Purchase Value,Expected Revenue,Margin,Margin %,Inv > 90 Days,Inv Value >90,Inv 45 - 90 Days,Inv Value 45-90,Inv >45
0,16,Ashes Cricket - PS4,Pre Owned,PS4,Games,10,490.00,2,0,5,...,3,4900.00,7990,3090.00,0.39,0,0,2,1000,2
1,17,Assassin's Creed IV Black Flag - PS4,Pre Owned,PS4,Games,1,400.00,1,0,0,...,0,400.00,849,449.00,0.53,0,0,0,0,0
2,19,Assassin's Creed Odyssey - PS4,Pre Owned,PS4,Games,5,480.00,4,1,0,...,0,2400.00,4245,1845.00,0.43,0,0,0,0,0
3,20,Assassin's Creed Origins - PS4,Pre Owned,PS4,Games,11,377.27,3,7,1,...,0,4149.97,8239,4089.03,0.50,0,0,0,0,0
4,21,Assassin's Creed Syndicate - PS4,Pre Owned,PS4,Games,1,300.00,1,0,0,...,0,300.00,599,299.00,0.50,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,3997,Astral Chain (No Box and Art Cover) - Nintendo...,Pre Owned,Nintendo Switch,Games,1,1900.00,0,0,0,...,1,1900.00,3399,1499.00,0.44,1,1900,0,0,1
385,4024,Nintendo Switch 32GB V1 (HAC-001) Neon Green &...,Pre Owned,Nintendo Switch,Consoles,1,14500.00,0,0,0,...,1,14500.00,17999,3499.00,0.19,0,0,1,14500,1
386,4100,Sniper Ghost Warrior Contracts 2 - PS4,Pre Owned,PS4,Games,1,1600.00,0,0,1,...,1,1600.00,2399,799.00,0.33,0,0,0,0,0
387,4101,ASUS RTX 3050 8GB Dual OC - PC Components,Pre Owned,PC Components,PCComponents,1,11300.00,1,0,0,...,0,11300.00,16599,5299.00,0.32,0,0,0,0,0
388,4102,Mortal Kombat 11 - PS5,Pre Owned,PS5,Games,1,850.00,0,1,0,...,0,850.00,1499,649.00,0.43,0,0,0,0,0

In [13]:

Pre_Owned_Report_df = Pre_Owned_Report_df.groupby(['Sub Category','Category_x']).agg({ 'Total Qty': 'sum', 'Total Purchase Value' : 'sum', 
                                                                    'Expected Revenue' : 'sum', 'Margin' : 'sum'
                                                                   }).rename(columns={'Total Qty': 'Stock', 'Total Purchase Value':'Purchase Value'})


Pre_Owned_Report_df_copy = Pre_Owned_Report_df.copy()

Pre_Owned_Report_df['Margin'] = (Pre_Owned_Report_df['Margin'] / Pre_Owned_Report_df['Expected Revenue'] * 100).round(1)
Pre_Owned_Report_df

                              Stock  Purchase Value  Expected Revenue  Margin
Sub Category Category_x
Accessories  Nintendo Switch      1         2900.00              4299    32.5
             PS4                 55       124050.15            211145    41.2
             PS5                  1         2700.00              4299    37.2
             Xbox One            15        17549.98             29935    41.4
             Xbox Series X       15        45949.99             62085    26.0
Consoles     Nintendo Switch     17       195000.00            277483    29.7
             PC Components        4       161100.00            173996     7.4
             PS4                 43       552300.02            918457    39.9
             PS5                 11       342700.05            439989    22.1
             Xbox One            17       179499.99            293483    38.8
             Xbox Series X        5       127500.00            194995    34.6
Games        Nintendo Switch     47        83658.33            115953    27.9
             PS4                582       426741.27            671168    36.4
             PS5                164       276057.10            412836    33.1
             Xbox One            71        49257.13             77829    36.7
             Xbox Series X       10        17550.00             24890    29.5
PCComponents PC Components       35       444566.65            654765    32.1

In [14]:

sub_category_totals = Pre_Owned_Report_df_copy.groupby(['Sub Category','Category_x'])[['Stock', 'Purchase Value', 'Expected Revenue', 'Margin']].sum().reset_index()

sub_category_totals['Sub Category'] = sub_category_totals['Sub Category'] + 'Total'

sub_category_totals = sub_category_totals.groupby('Sub Category').agg({
    'Stock': 'sum',
    'Purchase Value': 'sum',
    'Expected Revenue': 'sum',
    'Margin': 'sum'
})







sub_category_totals['Margin'] = (sub_category_totals['Margin'] / sub_category_totals['Expected Revenue'] * 100).round(1)
sub_category_totals

                   Stock  Purchase Value  Expected Revenue  Margin
Sub Category
AccessoriesTotal      87       193150.12            311763    38.0
ConsolesTotal         97      1558100.06           2298403    32.2
GamesTotal           874       853263.83           1302676    34.5
PCComponentsTotal     35       444566.65            654765    32.1

In [15]:
inventory_df = sdf.iloc[:,7:27].copy()
column = sdf["Sub Category"]
inventory_df = pd.concat([inventory_df,column], axis = 1)

total = np.sum(np.multiply(sdf["Total Qty"],sdf["Avg Inventory Value"]))


inventory_df['0-7 days'] = np.divide(inventory_df['0 - 7 Days Count'] * inventory_df['0 - 7 Days Avg'],total)
inventory_df['8-15 days'] = inventory_df['8 - 15 Days Count'] * inventory_df['8 - 15 Days Avg']/total
inventory_df['16-30 days'] = inventory_df['16 - 30 Days Count'] * inventory_df['16 - 30 Days Avg']/total
inventory_df['31-45 days'] = inventory_df['31 - 45 Days Count'] * inventory_df['31 - 45 Days Avg']/total
inventory_df['46-60 days'] = inventory_df['46 - 60 Days Count'] * inventory_df['46 - 60 Days Avg']/total
inventory_df['61-90 days'] = inventory_df['61 - 90 Days Count'] * inventory_df['61 - 90 Days Avg']/total
inventory_df['91-120 days'] = inventory_df['91 - 120 Days Count'] * inventory_df['91 - 120 Days Avg']/total
inventory_df['121-150 days'] = inventory_df['121 - 150 Days Count'] * inventory_df['121 - 150 Days Avg']/total
inventory_df['151-180 days'] = inventory_df['151 - 180 Days Count'] * inventory_df['151 - 180 Days Avg']/total
inventory_df['Older Than 180 Days'] = inventory_df['Older Than 180 Days Count'] * inventory_df['Older Than 180 Days Avg']/total

sum_of_inventory = inventory_df.groupby(['Sub Category']).agg({ '0-7 days': 'sum', '8-15 days' : 'sum', 
                                                                    '16-30 days' : 'sum', '31-45 days' : 'sum',
                                                                    '46-60 days' : 'sum', '61-90 days' : 'sum',
                                                                    '91-120 days' : 'sum', '121-150 days' : 'sum',
                                                                    '151-180 days' : 'sum', 'Older Than 180 Days' : 'sum',
                                                               
                                                                   })








                               
Inventory_Age_Based_Report_df = (sum_of_inventory*100).round(1)
Inventory_Age_Based_Report_df

Inventory_Age_Based_Report_df.groupby('Sub Category')['46-60 days'].sum()


Inventory_Age_Based_Report_df

,0-7 days,8-15 days,16-30 days,31-45 days,46-60 days,61-90 days,91-120 days,121-150 days,151-180 days,Older Than 180 Days
Sub Category,,,,,,,,,,
Accessories,1.1,1.2,0.5,0.4,0.8,0.6,0.3,0.2,0.2,0.3
Consoles,4.0,20.6,16.6,6.6,3.7,2.8,1.4,0.0,0.4,0.0
Games,8.7,6.2,3.7,0.9,0.9,1.1,0.7,0.4,0.3,3.2
PCComponents,2.0,0.3,3.1,0.7,2.5,0.0,0.9,1.2,0.2,1.5

In [16]:
New_Report_df = Formulated_df.groupby(['Product Age']).filter(lambda x: (x['Product Age'] == 'New').any())

In [17]:
New_Report_df = New_Report_df.groupby(['Sub Category','Category_x']).agg({ 'Total Qty': 'sum', 'Total Purchase Value' : 'sum', 
                                                                    'Expected Revenue' : 'sum', 'Margin' : 'sum'
                                                                   }).rename(columns={'Total Qty': 'Stock', 'Total Purchase Value':'Purchase Value'})


New_Report_df_copy = New_Report_df.copy()

New_Report_df['Margin'] = (New_Report_df['Margin'] / New_Report_df['Expected Revenue'] * 100).round(1)
New_Report_df

                              Stock  Purchase Value  Expected Revenue  Margin
Sub Category Category_x
Accessories  PS4                  2          5844.0              6298     7.2
Consoles     PS5                  9        445419.0            494910    10.0
Games        Nintendo Switch      1          1652.0              3499    52.8
             PS4                 17         28575.0             30633     6.7
             PS5                 12         32332.0             31388    -3.0
             Xbox One             5          4140.0              6195    33.2
             Xbox Series X        3          7257.0              4047   -79.3

In [18]:

New_sub_category_totals = New_Report_df_copy.groupby(['Sub Category','Category_x'])[['Stock', 'Purchase Value', 'Expected Revenue', 'Margin']].sum().reset_index()

New_sub_category_totals['Sub Category'] = New_sub_category_totals['Sub Category'] + 'Total'

New_sub_category_totals = New_sub_category_totals.groupby('Sub Category').agg({
    'Stock': 'sum',
    'Purchase Value': 'sum',
    'Expected Revenue': 'sum',
    'Margin': 'sum'
})







New_sub_category_totals['Margin'] = (New_sub_category_totals['Margin'] / New_sub_category_totals['Expected Revenue'] * 100).round(1)
New_sub_category_totals

                  Stock  Purchase Value  Expected Revenue  Margin
Sub Category
AccessoriesTotal      2          5844.0              6298     7.2
ConsolesTotal         9        445419.0            494910    10.0
GamesTotal           38         73956.0             75762     2.4

In [19]:
PO_Stock_Value_df = sub_category_totals.groupby(['Sub Category']).agg({
    'Stock': 'sum',
    'Purchase Value': 'sum',
    'Expected Revenue': 'sum',
    'Margin': 'sum'
})

s = PO_Stock_Value_df['Purchase Value'].sum()
psv = pd.DataFrame((PO_Stock_Value_df['Purchase Value'] / s)*100).round(1)
psv.columns = ['Value']
psv['Purchase Value'] = PO_Stock_Value_df['Purchase Value']
psv['>45 Days'] = psv['Purchase Value'].sum()


i=Inventory_Age_Based_Report_df.iloc[0:,4:]
_45days_grand_total = i.sum()
_45days_accessories =  i.iloc[0:1:1].sum().sum()
_45days_consoles =  i.iloc[1:2:1].sum().sum()
_45days_games = i.iloc[2:3:1].sum().sum()
_45days_PCComponents = i.iloc[3:4:1].sum().sum()

psv.iloc[0:1,2] = ((psv.iloc[0:1,2] * _45days_accessories) / 100).round(1)
psv.iloc[1:2,2] = ((psv.iloc[1:2,2] * _45days_consoles) / 100).round(1)
psv.iloc[2:3,2] = ((psv.iloc[2:3,2] * _45days_games) / 100).round(1)
psv.iloc[3:4,2] = ((psv.iloc[3:4,2] * _45days_PCComponents) / 100).round(1)
psv = psv.rename(index={'AccessoriesTotal': 'Accessories', 'ConsolesTotal': 'Consoles', 'GamesTotal' : 'Games', 'PCComponentsTotal': 'PCComponents'})
PO_Stock_Value = psv

PO_Stock_Value

              Value  Purchase Value  >45 Days
Sub Category
Accessories     6.3       193150.12   73177.9
Consoles       51.1      1558100.06  253073.7
Games          28.0       853263.83  201239.3
PCComponents   14.6       444566.65  192092.1

In [20]:
Pre_Owned_df = Formulated_df.groupby(['Product Age']).filter(lambda x: (x['Product Age'] == 'Pre Owned').any())
GC_Report_df = Pre_Owned_df.groupby('Class Name').agg({'Total Purchase Value': 'sum',
                                       'Total Qty':'sum',
                                       'Class Name' : 'count',
                                       'Value Within Limit' : 'sum',
                                       'Value Outside Limit': 'sum',
                                       'Margin' : 'sum'})

d1 = GC_Report_df.drop(index=GC_Report_df.iloc[0:1].index.tolist())
d2 = d1.drop(index=GC_Report_df.iloc[2:3].index.tolist())
d3 = d2.drop(index=GC_Report_df.iloc[9:10].index.tolist())
GC_Report_df = d3

c_report = cdf.groupby(['Class Name']).agg({'Category':'count',
                                'Total Sales':'sum'})
d11 = c_report.drop(index=c_report.iloc[3:4].index.tolist())
d12 = d11.drop(index=c_report.iloc[4:5].index.tolist())
c_report=d12


gtotal = c_report['Total Sales'].sum()

c_report['Total Sales'] = (c_report['Total Sales']/gtotal*100).round(1)
c_report = c_report.rename(index={'All Time Hits': 'All time Hits'})

GC_Report_df['Revn Benchmark'] = c_report['Total Sales']
new_index =['Volatile Games','All time Hits','Moderate','Low','NS Games','NS Junk','Junk A','Junk B']
GC_Report_df = GC_Report_df.reindex(new_index)
GC_Report_df['Stock Holdings'] = (GC_Report_df['Total Purchase Value'] / GC_Report_df['Total Purchase Value'].sum()*100).round(1)
GC_Report_df['Total Games'] = c_report['Category']
GC_Report_df['In Stock Ratio'] = (GC_Report_df['Class Name']/GC_Report_df['Total Games']*100).round(1)
GC_Report_df['Value Within Limit'] = (GC_Report_df['Value Within Limit']/GC_Report_df['Total Purchase Value']*100).round(1)
GC_Report_df['Value Outside Limit'] = (GC_Report_df['Value Outside Limit']/GC_Report_df['Total Purchase Value']*100).round(1)
GC_Report_df['Margin'] = (GC_Report_df['Margin']/GC_Report_df['Total Purchase Value']*100).round(1)

GC_Report_df.columns = ['Total Value','Total Qty','Games In Stock','% Inside Limit','% Outside Limit','Exp. Margin %', 'Revn Benchmark','Stock Holdings','Total Games','In Stock Ratio']



GC_Report_df

,Total Value,Total Qty,Games In Stock,% Inside Limit,% Outside Limit,Exp. Margin %,Revn Benchmark,Stock Holdings,Total Games,In Stock Ratio
Class Name,,,,,,,,,,
Volatile Games,243749.98,104,20,80.3,19.7,47.3,31.6,28.6,74,27.0
All time Hits,262699.99,356,53,99.4,0.6,63.4,45.6,30.8,65,81.5
Moderate,78033.28,144,41,84.3,15.7,69.5,12.6,9.1,93,44.1
Low,34349.98,45,27,77.1,22.9,59.7,5.1,4.0,100,27.0
NS Games,73275.00,39,21,34.7,65.3,31.2,3.9,8.6,104,20.2
NS Junk,10383.33,8,8,45.1,54.9,90.6,0.4,1.2,157,5.1
Junk A,90805.61,117,77,26.6,73.4,27.9,0.9,10.6,80,96.2
Junk B,59966.66,61,33,0.0,100.0,58.7,0.0,7.0,37,89.2

In [21]:
value_with_limit_report_df = Formulated_df.pivot_table(index=['Rank','Class Name'], columns='Category_x', values='Value Within Limit', aggfunc='sum')

value_with_limit_report_df = value_with_limit_report_df.fillna(0)
value_with_limit_report_df['Grand Total'] = value_with_limit_report_df.sum(axis=1)
value_with_limit_report_df = value_with_limit_report_df.sort_values(by='Grand Total', ascending=False)
value_with_limit_report_df.columns = ['PS5','PS4','Nintendo Switch','Xbox One','Xbox Series X','PC Components','Grand Total']

value_with_limit_report_df

,,PS5,PS4,Nintendo Switch,Xbox One,Xbox Series X,PC Components,Grand Total
Rank,Class Name,,,,,,,
12.0,Consoles,124500.0,0.0,429800.0,755117.0,80000.0,84000.0,1473417.0
2.0,All time Hits,0.0,0.0,207595.0,61716.0,0.0,0.0,269311.0
1.0,Volatile Games,0.0,0.0,41304.0,151995.0,2400.0,0.0,195699.0
13.0,PCComponents,0.0,192800.0,0.0,0.0,0.0,0.0,192800.0
11.0,Accessories,0.0,0.0,79748.0,2700.0,5851.0,14500.0,102799.0
3.0,Moderate,0.0,0.0,48786.0,16249.0,750.0,0.0,65785.0
4.0,Low,0.0,0.0,22600.0,3900.0,0.0,0.0,26500.0
5.0,NS Games,25450.0,0.0,0.0,0.0,0.0,0.0,25450.0
7.0,Junk A,0.0,0.0,9500.0,1150.0,8300.0,5200.0,24150.0
6.0,NS Junk,4683.0,0.0,0.0,0.0,0.0,0.0,4683.0
8.0,Junk B,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
Inv_Within_Limit_report_df = Formulated_df.pivot_table(index=['Rank','Class Name'], columns='Category_x', values='Inv Within Limit', aggfunc='sum')

Inv_Within_Limit_report_df = Inv_Within_Limit_report_df.fillna(0)
Inv_Within_Limit_report_df['Grand Total'] = Inv_Within_Limit_report_df.sum(axis=1)
Inv_Within_Limit_report_df = Inv_Within_Limit_report_df.sort_values(by='Grand Total', ascending=False)
Inv_Within_Limit_report_df.columns = ['PS5','PS4','Nintendo Switch','Xbox One','Xbox Series X','PC Components','Grand Total']
Inv_Within_Limit_report_df

,,PS5,PS4,Nintendo Switch,Xbox One,Xbox Series X,PC Components,Grand Total
Rank,Class Name,,,,,,,
2.0,All time Hits,0.0,0.0,306.0,54.0,0.0,0.0,360.0
3.0,Moderate,0.0,0.0,106.0,19.0,1.0,0.0,126.0
1.0,Volatile Games,0.0,0.0,19.0,65.0,1.0,0.0,85.0
12.0,Consoles,11.0,0.0,34.0,19.0,9.0,3.0,76.0
11.0,Accessories,0.0,0.0,42.0,1.0,4.0,5.0,52.0
7.0,Junk A,0.0,0.0,23.0,2.0,17.0,3.0,45.0
4.0,Low,0.0,0.0,34.0,3.0,0.0,0.0,37.0
5.0,NS Games,14.0,0.0,0.0,0.0,0.0,0.0,14.0
13.0,PCComponents,0.0,12.0,0.0,0.0,0.0,0.0,12.0
6.0,NS Junk,4.0,0.0,0.0,0.0,0.0,0.0,4.0
8.0,Junk B,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
Value_Outside_Limit_report_df = Formulated_df.pivot_table(index=['Rank','Class Name'], columns='Category_x', values='Value Outside Limit', aggfunc='sum')

Value_Outside_Limit_report_df = Value_Outside_Limit_report_df.fillna(0)
Value_Outside_Limit_report_df['Grand Total'] = Value_Outside_Limit_report_df.sum(axis=1)
Value_Outside_Limit_report_df = Value_Outside_Limit_report_df.sort_values(by='Grand Total', ascending=False)
Value_Outside_Limit_report_df.columns = ['PS5','PS4','Nintendo Switch','Xbox One','Xbox Series X','PC Components','Grand Total']
Value_Outside_Limit_report_df

,,PS5,PS4,Nintendo Switch,Xbox One,Xbox Series X,PC Components,Grand Total
Rank,Class Name,,,,,,,
12.0,Consoles,70500.0,161100.0,122501.0,33000.0,99500.0,43500.0,530101.0
13.0,PCComponents,0.0,251768.0,0.0,0.0,0.0,0.0,251768.0
11.0,Accessories,2900.0,0.0,50144.0,0.0,11700.0,31450.0,96194.0
7.0,Junk A,0.0,0.0,32131.0,15596.0,24246.0,16657.0,88630.0
8.0,Junk B,0.0,0.0,50368.0,12505.0,17700.0,2950.0,83523.0
1.0,Volatile Games,0.0,0.0,18029.0,33300.0,0.0,0.0,51329.0
5.0,NS Games,49478.0,0.0,0.0,0.0,0.0,0.0,49478.0
3.0,Moderate,0.0,0.0,9650.0,7376.0,0.0,0.0,17026.0
4.0,Low,0.0,0.0,6610.0,4600.0,0.0,0.0,11210.0
2.0,All time Hits,0.0,0.0,8744.0,0.0,0.0,0.0,8744.0
6.0,NS Junk,5700.0,0.0,0.0,0.0,0.0,0.0,5700.0

In [24]:
Inv_Outside_Limit_report_df = Formulated_df.pivot_table(index=['Rank','Class Name'], columns='Category_x', values='Inv Outside Limit', aggfunc='sum')

Inv_Outside_Limit_report_df = Inv_Outside_Limit_report_df.fillna(0)
Inv_Outside_Limit_report_df['Grand Total'] = Inv_Outside_Limit_report_df.sum(axis=1)
Inv_Outside_Limit_report_df = Inv_Outside_Limit_report_df.sort_values(by='Grand Total', ascending=False)
Inv_Outside_Limit_report_df.columns = ['PS5','PS4','Nintendo Switch','Xbox One','Xbox Series X','PC Components','Grand Total']
Inv_Outside_Limit_report_df

,,PS5,PS4,Nintendo Switch,Xbox One,Xbox Series X,PC Components,Grand Total
Rank,Class Name,,,,,,,
7.0,Junk A,0.0,0.0,34.0,7.0,35.0,8.0,84.0
8.0,Junk B,0.0,0.0,43.0,4.0,22.0,2.0,71.0
11.0,Accessories,1.0,0.0,15.0,0.0,11.0,10.0,37.0
12.0,Consoles,6.0,4.0,9.0,1.0,8.0,2.0,30.0
5.0,NS Games,26.0,0.0,0.0,0.0,0.0,0.0,26.0
13.0,PCComponents,0.0,23.0,0.0,0.0,0.0,0.0,23.0
1.0,Volatile Games,0.0,0.0,7.0,13.0,0.0,0.0,20.0
3.0,Moderate,0.0,0.0,15.0,5.0,0.0,0.0,20.0
4.0,Low,0.0,0.0,5.0,4.0,0.0,0.0,9.0
2.0,All time Hits,0.0,0.0,7.0,0.0,0.0,0.0,7.0
6.0,NS Junk,4.0,0.0,0.0,0.0,0.0,0.0,4.0